<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:label="ABHAYA SOS"
        android:theme="@style/Theme.AbhayaSOS"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name="com.example.abhaya_sos.activities.LoginActivity"
            android:exported="false"/>

        <activity
            android:name="com.example.abhaya_sos.activities.RegisterActivity"
            android:exported="false"/>

        <activity
            android:name="com.example.abhaya_sos.activities.ContactsActivity"
            android:exported="false"/>

        <activity
            android:name="com.example.abhaya_sos.activities.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.example.abhaya_sos.service.VoiceForegroundService"
            android:exported="false"/>

    </application>

</manifest>
